#board {
    text-align:center;
}
.outside{
    text-align: center;
    border: 2.5px;
    border-color: black;
    border-style: solid;
    width:16vw;
    border-radius: 25px;
    margin-left: 2vh;
    /* margin:0 auto; */
    height: 100%;
    padding-top:2.5vh;
    flex: 0 0 auto;
    background-color: white;
}
#tt{
    border-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 1vh;
    overflow-wrap: break-word;
    border-radius: 25px;
    width: 12vw;
}
.inside{
    height: 52vh;
    width:30vh;
    margin:0 auto;
    overflow-y:scroll;
    color:white;
}

#itc{
    background-color: rgb(87, 179, 87);
    border-radius: 2vh;
    padding: 1vh;
    margin-top: 1vh;
    width: 13.3vw;
    text-align: center;
}
#dc{
    height: 8vh;
    text-align: center;
}
.columns{
    overflow-x:scroll;
    display:flex;
    /* justify-content: center; */
    width:70%;
    margin:auto;
    padding:3.3vh;
    padding-bottom: 2.5vh;
    border-style: solid;
    border-width: 3.5px;
    /* border-color:  rgb(166, 238, 166); */
    border-radius: 45px;
    flex-wrap:inherit;
    margin-top: 2.5vh;

}
#inside1{
    height: 52vh;
    width:30vh;
    margin:0 auto;
    overflow-y:scroll;
    color:white;
}
#dc2{
    height: 8vh;
    text-align: center;
}
